<ng-content></ng-content>
<div *ngIf="errorMessage" class="alert alert-danger">
    <p>
        {{errorMessage}}
    </p>
</div>

<kendo-grid 
[kendoGridBinding] = "employeeData"
[pageSize]="gridState.take" [skip]="gridState.skip" [sort]="gridState.sort"
[pageSize]="20"
[pageable]="true"
[sortable]="true"
[groupable]="true"
[reorderable]="true"
[resizable]="true"
[height]="480"
[navigable]="true"
[columnMenu]="{ filter: true }"
(remove)="removeHandler($event)"
(dataStateChange)="onStateChange($event)"
(cellClick)="cellClickHandler($event)"
(cellClose)="cellCloseHandler($event)"
>
<!-- <ng-template kendoGridToolbarTemplate>
  
  <button kendoGridPDFCommand icon="file-pdf">Export to PDF</button>
  <button type="button" kendoGridExcelCommand icon="file-excel">Export to Excel</button>
</ng-template> -->
<ng-template kendoGridToolbarTemplate>
  <button type= "button"kendoGridPDFCommand icon="file-pdf">Export to PDF</button>
</ng-template>

<kendo-grid-column field = "id" title="ID"  width="40" [locked]="true"></kendo-grid-column>
<kendo-grid-column field = "employee_name" title="Name" width="250" [locked]="true"></kendo-grid-column>
<kendo-grid-column field = "employee_salary" title="Salary"  width="200" ></kendo-grid-column>
<kendo-grid-column field = "employee_age" title="Age"   width="150"> </kendo-grid-column>
<kendo-grid-column field = "employee_age" title="Age" width="150" > </kendo-grid-column>
<kendo-grid-column field = "employee_age" title="Age" width="150" > </kendo-grid-column>
<kendo-grid-column field = "employee_age" title="Age" width="150" > </kendo-grid-column>
<kendo-grid-column field = "employee_age" title="Age" width="150" > </kendo-grid-column>
<kendo-grid-column field = "employee_age" title="Age" width="150" > </kendo-grid-column>
<kendo-grid-column field = "employee_age" title="Age" width="150" > </kendo-grid-column>
<kendo-grid-column field = "employee_age" title="Age" width="150" > </kendo-grid-column>
<kendo-grid-column field = "employee_age" title="Age" width="150" > </kendo-grid-column>
<kendo-grid-column field = "employee_age" title="Age" width="150" > </kendo-grid-column>









<!-- <kendo-grid-column field = "employee_age" title="Age" > </kendo-grid-column>
<kendo-grid-column field = "employee_age" title="Age" > </kendo-grid-column>

<kendo-grid-column field = "employee_age" title="Age" > </kendo-grid-column>
<kendo-grid-column field = "employee_age" title="Age" > </kendo-grid-column>
<kendo-grid-column field = "employee_age" title="Age" > </kendo-grid-column>
<kendo-grid-column field = "employee_age" title="Age" > </kendo-grid-column>
<kendo-grid-column field = "employee_age" title="Age" > </kendo-grid-column>
<kendo-grid-column field = "employee_age" title="Age" > </kendo-grid-column>
<kendo-grid-column field = "employee_age" title="Age" > </kendo-grid-column>
<kendo-grid-column field = "employee_age" title="Age" > </kendo-grid-column> -->

<!-- <kendo-grid-command-column title="command" >
    <ng-template kendoGridCellTemplate let-isNew="isNew">
        <button kendoGridRemoveCommand>Remove</button>
        
    </ng-template>
</kendo-grid-command-column> -->

<!-- <kendo-grid-pdf fileName="Products.pdf" [allPages]="true" paperSize="A4" [repeatHeaders]="true" [landscape]="true">
    <kendo-grid-pdf-margin top="2cm" left="1cm" right="1cm" bottom="2cm"></kendo-grid-pdf-margin>
    <kendo-grid-column field = "id" title="ID" ></kendo-grid-column>
<kendo-grid-column field = "employee_name" title="Name"></kendo-grid-column>
<kendo-grid-column field = "employee_salary" title="Salary"></kendo-grid-column>
<kendo-grid-column field = "employee_age" title="Age"  class="k-grid-ignore-click" > </kendo-grid-column>
    <ng-template kendoGridPDFTemplate let-pageNum="pageNum" let-totalPages="totalPages">
     <div class="page-template">
        <div class="header">
          <div style="float: right">Page {{ pageNum }} of {{ totalPages }}</div>
         
        </div>
        <div class="footer">
          Page {{ pageNum }} of {{ totalPages }}
        </div>
      </div>
    </ng-template>
</kendo-grid-pdf> -->

<kendo-grid-excel fileName="Products.xlsx" ></kendo-grid-excel>
</kendo-grid>


<div *ngIf="loading" class="k-i-loading"></div>

